* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #202020;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .block {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #444;
    filter: brightness(1.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    /* transition: border-radius 2s ease;  */
}

.container .block:nth-child(5n + 1) {
    background: #444;
}

.container .block:nth-child(5n + 2) {
    background: #fff;
}

.container .block:nth-child(5n + 3) {
    background: #03a9f4;
}
.container .block:nth-child(5n + 4){
    background: #023d58;
}
.container .block:nth-child(5n + 5){
    background: #f44336;
}

.container button {
    position: relative;
    z-index: 1;
    margin: 10px;
    background: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 15px 30px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    border-radius: 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container button:active {
    transform: translateY(10px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.block.circle {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {

    .container button {
        font-size: 1rem;
        padding: 10px 20px;
        box-shadow: 3px 3px 10px rgb(0, 0, 0);
    }

    button:active {
        transform: translateY(-0.2rem);
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
    }
}